# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env
.env.local

# Ignore npm debug log
npm-debug.log*

